<div class="text-center">
    <div class="post">
        <h2 class="post-title"><a class="link" href="/post/{{id}}">{{title}}</a></h2>
        <p>Created by: {{user.name}} on {{format_date date_created}}</p>
        <p class="post-body">{{body}}</p>
    </div>
</div>